* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;   
  color: white;
  font-family: "Pretendard", sans-serif;
  overflow: hidden;
}


.sidebar {
  width: 220px;
  background-color: #0b1424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 6px 0;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}


.menu {
  margin-top: 5px;
}

.menu-item {
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.menu-item:hover {
  background-color: #223355;
  color: white;
}

.menu-item.active {
  color: white;
}


.sidebar-footer {
  padding: 20px;
  border-top: 1px solid #223355;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #3366ff;
  border-radius: 50%;
}

.logout {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
}


.main {
  flex: 1;
  padding: 30px 40px;
  overflow-y: auto;
}

.main-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.search-box {
  background-color: #182b4d; 
  padding: 40px 30px;       
  border-radius: 14px;
  margin-bottom: 90px;
  width: 100%;               
}

.search-box input {
  width: 40%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #0f1e36;
  color: white;
}

.search-box input::placeholder {
  color: #bbb;
}


.table {
  background-color: #0f1e36;
  border-radius: 12px;
  overflow: hidden;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  padding: 18px 24px;
  text-align: center;
}

.table-header {
  background-color: #223355;
  font-weight: bold;
}

.table-row {
  border-top: 1px solid #223355;
}

.apply-btn {
  background-color: #2e86de;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 13px;
}
.apply-btn:hover {
  background-color: #1e5fab;
}
